# Deployment configuration

## App
jenkinsBuild="Booker-V2-2";                              # Jenkins project (used by default)
filename="booker-release.zip";                           # The name of the file generated (see Jenkins configuration, in build step)

## Server
rep="/home/sites/myapp";                                 # Where the app is installed (before /app)
log="$rep/log/current"                                   # Where logs are located

## Jenkins
jenkinsUser="xxx@zenexity.com"
jenkinsToken=""
